<!DOCTYPE html>
<html>
<head>
	<title></title>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 well well-sm">
            <legend>Register!</legend>
            <form action="/create" method="post" class="form" role="form">
            <div class="row">
                <div class="col-xs-6 col-md-6">
                    <input class="form-control" id="name" name="name" placeholder="Name" type="text">
                </div>
            </div>
            <input class="form-control" name="email" placeholder="Your Email" type="email">
            <input class="form-control" name="password" placeholder="Password must be at least 8 characters" type="password">
            <input class="form-control" name="confirm_pass" placeholder="Confirm password" type="password">
            <input class="form-control" name="dob" placeholder="Birthday (example: 2015-00-07)" type="date">
            <button class="btn btn-lg btn-primary btn-block" type="submit">
                Sign up</button>
            </form>
        </div>
    </div>
           {% with messages = get_flashed_messages() %}
		    {% if messages %}
		      {% for message in messages %}
		        <p>{{message}}</p>
		      {% endfor %}
		    {% endif %}
		  {% endwith %}
        <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 well well-sm">
            <legend>Already registered? Login!</legend>
            <form action="/login" method="post" class="form" role="form">
            <input class="form-control" name="email" placeholder="Your Email" type="email">
            <input class="form-control" name="password" placeholder="Password" type="password"> 
            <button class="btn btn-lg btn-primary btn-block" type="submit">
                Login</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>